:root {
  /* Color Palette */
  --primary-color: #2b2d42; /* Space cadet */
  --secondary-color: #8d99ae; /* Cool gray */
  --background-color: #edf2f4; /* Anti-flash white */
  --accent-color: #ef233c; /* Red (Pantone) */
  --dark-accent-color: #d90429; /* Fire engine red */
  --text-color: #2b2d42; /* Space cadet */
  --light-color: #ffffff; /* White */
  --dark-color: #343a40; /* Dark gray */

  /* Additional Colors */
  --info-color: #17a2b8;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Global Styles */
body {
  font-family: 'Montserrat','Open Sans', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.hero {
  background: url('/perosa/images/skupaj-produkti/IMG_0137.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-hero{
  background: transparent;
  border: 2px solid var(--light-color);
  color: var(--light-color);
}

.button-hero:hover{
  transition: all 0.3s ease-in;
  background: var(--light-color);
  color: var(--primary-color);
  border: 2px solid var(--light-color);
}

.button-hero:active{
  transition: all 0.3s ease-in;
  background: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--light-color);
}

.button-hero::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--light-color);
  transition: width 0.3s;
}

.carousel-item {
  transition: transform 0.6s ease, opacity 0.6s ease;
  padding: 1rem;
}

.carousel-item img {
  max-height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
  display: block;
}

.carousel-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  background-color: white;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 95%; 
  margin: 0 auto; 
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;
}

header {
  background-color: #f8f9fa;
  color: #343a40;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
  padding: 5px;
  color: #1c1c1c;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  background: linear-gradient(90deg, #6f4e37, #1c1c1c);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #f8f9fa !important;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-nav .nav-link {
  color: #f8f9fa !important;
  text-transform: uppercase;
  font-size: 0.95rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}


.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  text-decoration: underline;
}

header a {
  text-decoration: none;
  color: #1c1c1c;
}

header a:hover
{
    text-decoration: underline;
    color: #1c1c1c;
  
}
/* About Section Styles */
.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--accent-color);
}

.about-subtitle {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

.feature-box, .service-box {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1.5rem;
  background-color: var(--light-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature-box:hover, .service-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  transition: color 0.3s;
}

.feature-icon i {
  font-size: 3rem; /* Increase the size for better visibility */
}

.feature-icon:hover {
  color: var(--dark-accent-color); /* Darker shade on hover */
}

.feature-content p, .service-box p {
  margin-bottom: 0;
}

.feature-title, .service-title {
  color: var(--primary-color);
}

.feature-box p, .service-box p {
  color: var(--text-color);
}

.about-contact-title {
  font-weight: 600;
  color: var(--accent-color);
}

/* Contact Section Styles */
.contact {
  background-color: var(--light-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.contact .form-group {
  margin-bottom: 1.5rem;
}

.contact .input-group-text {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.contact .btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.contact .btn-primary:hover {
  background-color: var(--dark-accent-color);
  border-color: var(--dark-accent-color);
}

/* Footer Styles */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem 0;
}

footer p {
  margin: 0;
}

.footer-a {
  color: var(--light-color);
}

.footer-a:hover {
  color: var(--light-color);
}


/* Enhanced Category Card Styles */
/*
.category-card {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1.5rem;
  background-color: var(--light-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
}

.category-card:hover img {
  transform: scale(1.05);
}

.category-card .card-body {
  padding: 1rem;
}

.category-card .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.category-card .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}

/* Product Card Styles */
/*
.product .card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
}

.product .card:hover .card-img-top {
  transform: scale(1.05);
}

.product .card-body {
  padding: 1rem;
  text-align: center;
}

.product .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.product .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}
*/

/*
.category-card {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1.5rem;
  background-color: var(--light-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.category-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.category-card .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.category-card .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}

.product .card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product .card-img-top {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
}

.product .card:hover .card-img-top {
  transform: scale(1.05);
}

.product .card-body {
  padding: 1rem;
  text-align: center;
}

.product .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.product .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}
  */
/* Sidebar Menu Styles */
.sidebar-menu {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--light-color);
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: block;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.sidebar-item:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
}

.main-category {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.sub-categories {
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}

.sub-category {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.sub-category:hover {
  color: var(--primary-dark-color);
  background-color: var(--light-color);
}

/* Product Card Styles */
.category-card {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1.5rem;
  background-color: var(--light-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.category-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.category-card .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.category-card .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}

.product .card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product .card-img-top {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
}

.product .card:hover .card-img-top {
  transform: scale(1.05);
}

.product .card-body {
  padding: 1rem;
  text-align: center;
}

.product .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 1rem;
}

.product .card-text {
  color: var(--text-color);
  margin-top: 0.5rem;
}

/* Horizontal Line Separator */
hr.separator {
  border-top: 1px solid var(--primary-color);
  margin: 2rem 0;
}

/* Footer styles */
footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 2rem 0;
}

footer .footer-title {
  color: #6f4e37;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer .footer-link {
  color: #f8f9fa;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  transition: color 0.3s, background-color 0.3s;
}

footer .footer-link:hover {
  color: #343a40;
  background-color: #6f4e37;
  padding-left: 0.5rem;
  border-radius: 5px;
}

footer .footer-link-mail {
  color: #f8f9fa;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

footer .footer-link-mail:hover {
  color: #6f4e37;
}

footer .contact-info p,
footer .contact-info a {
  margin-bottom: 0.5rem;
}

footer .contact-info i {
  color: #6f4e37;
  margin-right: 0.5rem;
}

footer .social-icons a {
  color: #f8f9fa;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #6f4e37;
}

footer p {
  margin-bottom: 0.5rem;
}

.footer-credits {
  border-top: 1px solid #6f4e37;
  padding-top: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* tc styles */
.blockquote-custom {
  font-style: italic;
  color: #555;
  padding-left: 1em;
  border-left: 0.25em solid #ccc;
}

ul.custom-bullet {
  list-style-type: none;
  padding-left: 1.5em;
}

ul.custom-bullet li {
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.5em;
}

ul.custom-bullet li::before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
}